In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("WTI.csv")
df = df.drop(df.columns[[0]], axis=1)
df.head()

   Uopen   Ulow  Uhigh  Uclose
0  52.15  51.93  53.25   52.20
1  52.65  52.04  53.58   52.34
2  52.76  51.85  53.30   52.85
3  52.91  52.29  53.25   52.61
4  52.17  51.82  52.95   52.77

In [3]:
N = 3
w = 2*N - 1

for i in range(0,df.shape[0]-1):
    df.loc[df.index[i],'c'] = df['Uclose'][i] - df['Uclose'][i+1]

df.head(10)

   Uopen   Ulow  Uhigh  Uclose     c
0  52.15  51.93  53.25   52.20 -0.14
1  52.65  52.04  53.58   52.34 -0.51
2  52.76  51.85  53.30   52.85  0.24
3  52.91  52.29  53.25   52.61 -0.16
4  52.17  51.82  52.95   52.77  0.50
5  53.10  51.44  53.16   52.27 -0.86
6  52.93  52.75  53.41   53.13 -0.11
7  53.13  53.05  53.79   53.24  0.26
8  52.00  51.76  53.13   52.98  0.62
9  52.20  51.83  52.61   52.36  0.16