In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("WTI.csv")
df = df.drop(df.columns[[0]], axis=1)
df.head()

   Uopen   Ulow  Uhigh  Uclose
0  52.15  51.93  53.25   52.20
1  52.65  52.04  53.58   52.34
2  52.76  51.85  53.30   52.85
3  52.91  52.29  53.25   52.61
4  52.17  51.82  52.95   52.77

In [3]:
N = 3
w = 2*N + 1

for i in range(0,df.shape[0]-1):
    df.loc[df.index[i],'c'] = df['Uclose'][i] - df['Uclose'][i+1]
    
df.head(10)

   Uopen   Ulow  Uhigh  Uclose     c
0  52.15  51.93  53.25   52.20 -0.14
1  52.65  52.04  53.58   52.34 -0.51
2  52.76  51.85  53.30   52.85  0.24
3  52.91  52.29  53.25   52.61 -0.16
4  52.17  51.82  52.95   52.77  0.50
5  53.10  51.44  53.16   52.27 -0.86
6  52.93  52.75  53.41   53.13 -0.11
7  53.13  53.05  53.79   53.24  0.26
8  52.00  51.76  53.13   52.98  0.62
9  52.20  51.83  52.61   52.36  0.16

In [4]:
for i in range(0,df.shape[0]-(2*N+1)):
    s = 0
    for j in range((2*N)+1):
        s += df['Uclose'][i+j]
    s = s*1.0
    s = s/((2*N)+1)
    df.loc[df.index[i+N],'ma'] = s

df.head()

   Uopen   Ulow  Uhigh  Uclose     c         ma
0  52.15  51.93  53.25   52.20 -0.14        NaN
1  52.65  52.04  53.58   52.34 -0.51        NaN
2  52.76  51.85  53.30   52.85  0.24        NaN
3  52.91  52.29  53.25   52.61 -0.16  52.595714
4  52.17  51.82  52.95   52.77  0.50  52.744286

In [5]:
for i in range(0,df.shape[0]-N):
    h = df['Uhigh'][i]
    l = df['Ulow'][i]
    for j in range(N):
        if h<df['Uhigh'][i+j]:
            h = df['Uhigh'][i+j]
        if l>df['Ulow'][i+j]:
            l = df['Ulow'][i+j]
    R = (h - df['Uclose'][i+N])*(-100)/(h-l)
    df.loc[df.index[i+N],'R'] = R
    

df.head()

   Uopen   Ulow  Uhigh  Uclose     c         ma          R
0  52.15  51.93  53.25   52.20 -0.14        NaN        NaN
1  52.65  52.04  53.58   52.34 -0.51        NaN        NaN
2  52.76  51.85  53.30   52.85  0.24        NaN        NaN
3  52.91  52.29  53.25   52.61 -0.16  52.595714 -56.069364
4  52.17  51.82  52.95   52.77  0.50  52.744286 -46.820809

In [7]:
for i in range(0,df.shape[0]-N):
    h = 0
    l = 0
    vr = 0
    for j in range(N):
        h += df['Uhigh'][i+j]
        l += df['Ulow'][i+j]
    h = h*1.0/N
    l = l*1.0/N
    x = (df['Uhigh'][i+N] + df['Uclose'][i+N-1])/2
    y = (df['Ulow'][i+N] + df['Uclose'][i+N-1])/2
    if x!=y:
        vr = (h-l)*1.0/(x-y)
    df.loc[df.index[i+N],'VR'] = vr
    

df.head(10)

   Uopen   Ulow  Uhigh  Uclose     c         ma          R        VR
0  52.15  51.93  53.25   52.20 -0.14        NaN        NaN       NaN
1  52.65  52.04  53.58   52.34 -0.51        NaN        NaN       NaN
2  52.76  51.85  53.30   52.85  0.24        NaN        NaN       NaN
3  52.91  52.29  53.25   52.61 -0.16  52.595714 -56.069364  2.993056
4  52.17  51.82  52.95   52.77  0.50  52.744286 -46.820809  2.330383
5  53.10  51.44  53.16   52.27 -0.86  52.835714 -69.594595  1.372093
6  52.93  52.75  53.41   53.13 -0.11  52.765714  -6.629834  3.848485
7  53.13  53.05  53.79   53.24  0.26  52.707143  -8.629442  3.162162
8  52.00  51.76  53.13   52.98  0.62  52.648571 -34.468085  1.518248
9  52.20  51.83  52.61   52.36  0.16  52.834286 -70.443350  2.367521

In [21]:
for i in range(0,df.shape[0]-N-1):
    bs = ''
    for j in range(N+1):
        if df['c'][i+j]>=0:
            bs+= '0'
        else:
            bs+= '1' 
    bs = int(bs, 2)
    df.loc[df.index[i+N],'y'] = bs

df.head(10)

,Uopen,Ulow,Uhigh,Uclose,c,ma,R,VR,y,EMA
0,52.15,51.93,53.25,52.20,-0.14,NaN,NaN,NaN,NaN,52.200000
1,52.65,52.04,53.58,52.34,-0.51,NaN,NaN,NaN,NaN,52.270000
2,52.76,51.85,53.30,52.85,0.24,NaN,NaN,NaN,NaN,52.560000
3,52.91,52.29,53.25,52.61,-0.16,52.595714,-56.069364,2.993056,13,52.585000
4,52.17,51.82,52.95,52.77,0.50,52.744286,-46.820809,2.330383,10,52.677500
5,53.10,51.44,53.16,52.27,-0.86,52.835714,-69.594595,1.372093,5,52.473750
6,52.93,52.75,53.41,53.13,-0.11,52.765714,-6.629834,3.848485,11,52.801875
7,53.13,53.05,53.79,53.24,0.26,52.707143,-8.629442,3.162162,6,53.020938
8,52.00,51.76,53.13,52.98,0.62,52.648571,-34.468085,1.518248,12,53.000469
9,52.20,51.83,52.61,52.36,0.16,52.834286,-70.443350,2.367521,8,52.680234

In [18]:
df['EMA'] = df.iloc[:,3].ewm(span=N,adjust=False).mean()

df.head()

,Uopen,Ulow,Uhigh,Uclose,c,ma,R,VR,y,EMA
0,52.15,51.93,53.25,52.20,-0.14,NaN,NaN,NaN,NaN,52.2000
1,52.65,52.04,53.58,52.34,-0.51,NaN,NaN,NaN,NaN,52.2700
2,52.76,51.85,53.30,52.85,0.24,NaN,NaN,NaN,NaN,52.5600
3,52.91,52.29,53.25,52.61,-0.16,52.595714,-56.069364,2.993056,6,52.5850
4,52.17,51.82,52.95,52.77,0.50,52.744286,-46.820809,2.330383,5,52.6775